<h2>Department of Computer Engineering, Ramkhamhaeng University</h2>
<table border=2 bordercolor=red>
    <tr>
        <td><ul><h4>Application of Ruby on Rails</h4></ul></td>
        <td>
            <table border=2 bordercolor=blue>
                <ul>
                    <li>An e-commerce app (e.g. Shopify, Etsy, Instacart)</li>
                    <li>A communication app (Twitter was originally built with Rails)</li>
                    <li>A streaming app</li>
                    <li>Many more ...</li>
                </ul>
            </table>
        </td>
    </tr>
</table>
<table border=2 bordercolor=green>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <tr><td>A List of Lecturers</td></tr>
                        <tr><td><a href="http://www.eng.ru.ac.th/%e0%b8%9a%e0%b8%b8%e0%b8%84%e0%b8%a5%e0%b8%b2%e0%b8%81%e0%b8%a3/">Photos and Emails</a></td></tr>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr><td>11x Lecturers</td></tr>
                <tr><td>6x Dr., 4x Asst.Prof., 1x Assoc.Prof.</td></tr>
            </table>
        </td>
    </tr>
</table>
